.VegaScalePanel {
  padding: var(--space-2xs);

  display: inline-flex;
  align-items: center;

  background: var(--color-bg-default);
  border-radius: calc(var(--space-2xs) + var(--space-3xs));
  box-shadow: 0 1px 4px rgba(0, 32, 51, 0.18);

  &__Input {
    margin-right: var(--space-2xs);
    margin-left: 1px;

    width: 40px;

    font-weight: 700;
  }

  &__Input input {
    min-width: auto;

    font-weight: 700;
    text-align: right;
  }

  &__Input div {
    margin-left: 0;
  }
}
