.VegaDropzone {
  padding: var(--space-xl) calc(var(--space-xl) * 3);

  display: flex;
  justify-content: center;

  width: 100%;

  color: var(--color-typo-secondary);
  background-color: transparent;
  border: 2px dashed var(--color-bg-border);
  border-radius: calc(var(--control-radius) * 2);

  &__Content {
    max-width: 300px;
  }

  &__Overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: var(--color-bg-tone);
    align-content: center;

    &.is-visible {
      visibility: visible;
    }
  }

  &.is-fullscreen {
    position: relative;
    z-index: 101;

    margin: calc(var(--space-2xl) * 2);
    padding: 0;

    width: 90%;
    height: 90%;

    color: var(--color-typo-secondary);
  }
}
