:root {
  --layout-z-portal: 3;
}

.VegaLayout {
  --layout-resizer-size: 2px;
  --layout-z-resizer: 1;
  --layout-z-header: calc(var(--layout-z-resizer) + 1);
  --layout-header-height: 25px;
  position: relative;

  display: grid;

  box-sizing: border-box;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 100%;

  &__Header {
    position: sticky;
    z-index: var(--layout-z-header);
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;

    box-sizing: border-box;
    height: var(--layout-header-height);

    border-bottom: 1px solid var(--color-bg-secondary);
    flex-shrink: 0;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &:focus,
    &:focus:hover {
      outline: none;
      box-shadow: 0 0 0 3px var(--color-control-bg-focus);

      animation: buttonFocusAnimation 0.5s ease-in;
    }

    .Button:focus,
    .Button:focus:hover {
      box-shadow: inset 0 0 0 2px var(--color-control-bg-focus);

      animation: none;
    }

    .Button_size_xs {
      height: calc(var(--control-height-xs) - 2px);
    }
  }

  &__MenuWrapper {
    z-index: var(--layout-z-portal);
  }

  &__MenuTrigger {
    max-width: unset;

    > .Icon {
      transition: transform 0.1s ease;
    }

    &_isMenuOpen {
      > .Icon {
        transform: rotate(-180deg);
      }
    }
  }

  &__Delimiter {
    margin: var(--space-s);

    height: var(--control-border-width);
  }

  &__Resizer {
    position: relative;
    z-index: var(--layout-z-resizer);

    padding: 0;

    background-color: var(--color-bg-secondary);
    border: none;

    &::after {
      content: '';

      position: absolute;

      display: block;
    }

    &:hover,
    &.is-active {
      z-index: var(--layout-z-header);

      background-color: var(--color-control-bg-primary);
    }

    &:focus {
      outline: none;
    }

    &_split_horizontal {
      width: var(--layout-resizer-size);
      height: 100%;

      cursor: ew-resize;

      &:hover::after {
        top: 0;
        left: calc(var(--layout-resizer-size) * -2);

        width: calc(var(--layout-resizer-size) * 6);
        height: 100%;
      }
    }

    &_split_vertical {
      width: 100%;
      height: var(--layout-resizer-size);

      cursor: ns-resize;

      &:hover::after {
        top: calc(var(--layout-resizer-size) * -2);
        left: 0;

        width: 100%;
        height: calc(var(--layout-resizer-size) * 6);
      }
    }
  }

  &__Window {
    --first-view-size: 1fr;
    --second-view-size: 1fr;
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    box-sizing: border-box;
    height: 100%;

    color: var(--color-typo-primary);

    &_split_horizontal {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: minmax(25px, var(--first-view-size)) var(--layout-resizer-size) minmax(
          25px,
          var(--second-view-size)
        );
    }

    &_split_vertical {
      display: grid;
      grid-template-rows:
        minmax(var(--layout-header-height), var(--first-view-size)) var(--layout-resizer-size)
        minmax(var(--layout-header-height), var(--second-view-size));
    }
  }

  &__Window:last-child > &__Resizer {
    display: none;
  }

  &__Body {
    margin-left: var(--layout-resizer-size);

    box-sizing: border-box;

    height: 100%;
  }
}

@keyframes buttonFocusAnimation {
  from {
    box-shadow: 0 0 0 0 var(--color-control-bg-focus), 0 0 0 0 var(--color-control-bg-active);
  }

  to {
    box-shadow: 0 0 0 3px var(--color-control-bg-focus), 0 0 0 6px transparent;
  }
}

.VegaLayout__MenuWrapper .VegaLayout__List {
  z-index: var(--layout-z-portal);

  padding: var(--space-xs) 0;

  box-sizing: border-box;
  min-width: 240px;

  background: var(--color-bg-default);

  border: var(--control-border-width) solid var(--color-bg-border);
  border-radius: var(--control-radius);
  box-shadow: 0 4px 16px rgba(0, 32, 51, 0.18), 0 2px 2px rgba(0, 0, 0, 0.04);
}

.VegaLayout__List .VegaLayout__Option {
  padding: calc(var(--space-xs) + 2px) var(--space-s);

  display: flex;
  align-items: center;

  font-size: var(--size-text-s);

  border-radius: 0;

  .Button-Label {
    text-align: left;
  }
}
