:root {
  --layout-z-portal: 3;
}

.VegaLayout {
  --layout-resizer-size: 2px;
  --layout-z-resizer: 1;
  --layout-z-header: calc(var(--layout-z-resizer) + 1);
  position: relative;

  display: grid;

  box-sizing: border-box;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 100%;

  &__Header {
    position: sticky;
    z-index: var(--layout-z-header);
    top: 0;
    right: 0;
    left: 0;

    margin-left: var(--layout-resizer-size);

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;

    box-sizing: border-box;
    height: 25px;

    border-bottom: 1px solid var(--color-bg-secondary);
    flex-shrink: 0;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &:focus,
    &:focus:hover {
      outline: none;
      box-shadow: 0 0 0 3px var(--color-control-bg-focus);

      animation: buttonFocusAnimation 0.5s ease-in;
    }

    .Button:focus,
    .Button:focus:hover {
      box-shadow: inset 0 0 0 2px var(--color-control-bg-focus);

      animation: none;
    }

    .Button_size_xs {
      height: calc(var(--control-height-xs) - 2px);
    }
  }

  &__MenuWrapper {
    z-index: var(--layout-z-portal);
  }

  &__MenuTrigger {
    max-width: unset;

    > .Icon {
      transition: transform 0.1s ease;
    }

    &_isMenuOpen {
      > .Icon {
        transform: rotate(-180deg);
      }
    }
  }

  &__List {
    z-index: var(--layout-z-portal);

    padding-top: calc(var(--space-m) + 2px);
    padding-bottom: calc(var(--space-m) + 2px);

    box-sizing: border-box;
    min-width: 240px;

    background: var(--color-bg-default);

    border: var(--control-border-width) solid var(--color-bg-border);
    box-shadow: 0 4px 16px rgba(0, 32, 51, 0.18), 0 2px 2px rgba(0, 0, 0, 0.04);
  }

  &__Option {
    padding-right: var(--space-s);
    padding-left: var(--space-s);

    display: flex;

    font-size: var(--size-text-s);

    .Button-Label {
      text-align: left;
    }
  }

  &__Delimiter {
    margin: var(--space-s);

    height: var(--control-border-width);
  }

  &__Resizer {
    position: absolute;
    z-index: var(--layout-z-resizer);

    padding: 0;

    background-color: var(--color-bg-secondary);
    border: none;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      right: -1px;
      left: -1px;
      bottom: 0;
    }

    &:hover {
      z-index: var(--layout-z-header);

      background-color: var(--color-control-bg-primary);
    }

    &:focus {
      outline: none;
    }

    &_direction_vertical {
      right: 0;

      margin-right: calc(var(--layout-resizer-size) * -1);

      width: var(--layout-resizer-size);
      height: 100%;

      cursor: ew-resize;
    }

    &_direction_horizontal {
      bottom: 0;

      margin-bottom: calc(var(--layout-resizer-size) * -1);

      width: 100%;
      height: var(--layout-resizer-size);

      cursor: ns-resize;
    }
  }

  &__Window {
    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 100%;

    color: var(--color-typo-primary);
  }

  /*
    не должно быть отступа у шапок в самом верху иерархии:
      - у всех шапок к окнах разделенных горизонтально
      - только у первой, в разделенном вертикальн окне
  */

  &:first-child > &__Window_direction_vertical &__Window_direction_horizontal:first-child &__Header,
  &:first-child > &__Window_direction_horizontal &__Header {
    margin-top: 0;
  }

  /* шапка в любом последнем (т.е. втором) горизонтальном окне — всегда должна иметь отступ */
  &__Window_direction_horizontal:last-child &__Header {
    margin-top: 2px !important;
  }

  &__Window:last-child > &__Resizer {
    display: none;
  }

  &__Body {
    margin-left: var(--layout-resizer-size);

    overflow: auto;

    box-sizing: border-box;

    height: 100%;
  }
}

@keyframes buttonFocusAnimation {
  from {
    box-shadow: 0 0 0 0 var(--color-control-bg-focus), 0 0 0 0 var(--color-control-bg-active);
  }

  to {
    box-shadow: 0 0 0 3px var(--color-control-bg-focus), 0 0 0 6px transparent;
  }
}
