.VegaScalePanel {
  position: absolute;
  z-index: 10;

  padding: 0 var(--space-xs);

  display: flex;

  align-items: center;

  box-sizing: border-box;

  background-color: var(--color-bg-default);

  border-radius: var(--control-radius);
  box-shadow: 0 4px 16px rgba(0, 32, 51, 0.18), 0 2px 2px rgba(0, 0, 0, 0.04);

  &_orientation_vertical {
    flex-direction: column;
  }

  &__CurrentScale {
    justify-content: center;

    max-width: 20px;
  }

  &_orientation_horizontal {
    flex-direction: row;
  }
}
