.VegaTree {
  padding: var(--space-xs);

  color: var(--color-typo-primary);
  background-color: var(--color-bg-default);
}

.VegaTree__RootTreeNode {
  position: relative;
}

.VegaTree__RootList {
  padding-left: 0;
}

.VegaTree__ContextMenu {
  position: absolute;
  width: 220px;

  background-color: var(--color-bg-default);
  border: 1px solid var(--color-bg-border);

  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04), 0 4px 16px rgba(0, 32, 51, 0.18);
  border-radius: 4px;
}

.VegaTree__ContextMenuList {
  padding-right: 12px;
  padding-left: 12px;
}

.VegaTree__ContextMenuList:last-child {
  margin-bottom: 15px;
}

.VegaTree__ContextMenuList:first-child {
  margin-top: 15px;
}

.VegaTree__ContextMenuItem {
  cursor: pointer;
  text-align: left;
  padding-left: 5px;

  font-size: 14px;
  line-height: 20px;

  color: var(--color-typo-primary);
}

.VegaTree__ContextMenuItem_withSeparator {
  border-bottom: 1px solid var(--color-bg-ghost);
  margin-bottom: 5px;
}

.VegaTree:hover .VegaTree__NodeList_expanded::before {
  content: '';

  border-left: 1px solid var(--color-bg-stripe);
  height: 100%;
  position: absolute;
  left: 11px;
}

.VegaTree:hover .VegaTree__NavigationEye {
  width: 12px;
  height: 12px;
  transform: scale(1.3);
  outline: none;
  margin-left: auto;
  background: url("../docs/eye.svg") center no-repeat;
}

.VegaTree__NavigationEye_hidden {
  width: 12px;
  height: 12px;
  outline: none;
  transform: scale(1.3);
  margin-left: auto;
  background: url("../docs/eye-closed.svg") center no-repeat !important;
}

.VegaTree__NavigationDot {
  width: 12px;
  height: 12px;
  outline: none;
  margin-left: auto;
  background: url("../docs/dot.svg") center no-repeat;
}

.VegaTree__Backlight {
  z-index: 0;
  position: absolute;
  left: 0;

  width: 100%;
  height: 24px;
}

.VegaTree__Backlight_selected {
  background-color: var(--color-control-bg-active);
}

.VegaTree__TreeNode,
ul {
  list-style: none;
  outline: none;
  padding-left: 12px;
}

.VegaTree__Leaf {
  cursor: pointer;
  user-select: none;
  outline: none;
  padding-left: 12px;
}

.VegaTree__Leaf:hover {
  background-color: var(--color-control-bg-focus);
}

.VegaTree__Leaf_Selected,
.VegaTree__Leaf_Selected:hover {
  background-color: var(--color-control-bg-active);
}

.VegaTree__Leaf_Hidden {
  color: var(--color-typo-ghost);
}

.VegaTree__Leaf > div {
  font-size: 14px;
  line-height: 150%;
  outline: none;
  font-style: normal;
  display: flex;
  align-items: center;
  min-height: 24px;
}

.VegaTree__NodeList {
  display: none;
  margin: 0;
}

.VegaTree__NodeList_expanded {
  display: block;

  position: relative;
}

.VegaTree__NavigationItem {
  color: var(--color-typo-primary);
  user-select: none;
  font-size: 14px;
  line-height: 150%;
  font-style: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 24px;
  outline: none;
}

.VegaTree__NavigationItem:hover {
  background-color: var(--color-control-bg-focus);
}

.VegaTree__NavigationItem_Selected,
.VegaTree__NavigationItem_Selected:hover {
  background-color: var(--color-control-bg-active);
}

.VegaTree__NavigationItem_Droppable {
  border-bottom: 2px solid var(--color-bg-normal);
}

.VegaTree__NavigationItem_Hidden {
  color: var(--color-typo-ghost);
}

.VegaTree__NavigationArrow {
  z-index: 1;
  padding-left: 8px;
  outline: none;
}

.VegaTree__NavigationArrow::before {
  content: '';
  border: solid;
  border-color: var(--color-typo-ghost);
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 1px;
  padding: 3px;

  transform: rotate(-45deg);
}

.VegaTree__NavigationArrow_expanded::before {
  content: '';
  border: solid;
  border-color: var(--color-typo-ghost);
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 3px;
  padding: 3px;

  transform: rotate(45deg);
}
