.VegaCanvas {
  overflow: auto;

  width: 100%;
  height: 100%;

  &__Placeholder {
    overflow: hidden;
  }

  &__Stage {
    background: linear-gradient(180deg, #161a1d 0%, rgba(22, 26, 29, 0) 51.04%, #161a1d 100%);
  }
}
