.VegaFileInput {
  position: relative;

  display: inline-flex;
  overflow: hidden;

  cursor: pointer;

  &__Input {
    position: absolute;

    margin: -1px;
    padding: 0;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;

    border: 0;
  }
}
