.VegaFileInput {
  position: relative;

  display: inline-flex;
  overflow: hidden;

  cursor: pointer;

  &__Input {
    position: absolute;
    z-index: -1;

    overflow: hidden;

    opacity: 0;
  }
}
