/* You haven't to change colors to rgba, because it create bug with alpha channel at ID column */
.VegaRow {
  z-index: 1;

  overflow: visible;

  text-overflow: ellipsis;

  color: var(--color-typo-primary);
  contain: none;

  &__Even {
    background-color: var(--color-bg-default);
  }

  &__Odd {
    background-color: rgb(60 64 67);
  }

  &__First {
    z-index: 3;
  }

  &.is-selected {
    z-index: 10;
    contain: none;
  }

  &.is-selected-cell {
    z-index: 2;
  }

  &.is-error {
    &::before {
      content: '';

      position: absolute;
      z-index: 1;
      top: -1px;

      display: block;

      width: 100%;
      height: 1px;

      background-color: var(--color-bg-alert);
    }

    &::after {
      content: '';

      position: absolute;
      z-index: 1;
      bottom: 0;

      display: block;

      width: 100%;
      height: 1px;

      background-color: var(--color-bg-alert);
    }

    & > :nth-child(1) {
      background-color: var(--color-bg-alert);
      border-right: solid 3px var(--color-bg-alert);
    }

    & > :nth-child(2) {
      border-left: 1px solid var(--color-bg-alert);
    }
  }
}

.VegaRow:hover {
  background-color: rgb(75 81 84);
}

.react-contextmenu-wrapper:last-child .VegaRow .rdg-cell-splitter {
  border-bottom: solid 1px var(--color-bg-border);
}
